In [1]:
import pandas as pd

In [2]:
staffs = pd.read_csv('../landing/staffs/staffs.csv')
staffs

,staff_id,first_name,last_name,email,phone,active,store_id,manager_id,extraction_time,source_folder
0,1,Fabiola,Jackson,fabiola.jackson@bikes.shop,NaN,1,NaN,NaN,2024-04-29 12:14:14.283967,datalake/bikestore_dim/staffs
1,2,Mireya,NaN,mireya.copeland@bikes.shop,(831) 555-5555,1,1.0,1.0,2024-04-29 12:14:14.283967,datalake/bikestore_dim/staffs
2,3,Genna,Serrano,genna.serrano@bikes.shop,(831) 555-5556,1,1.0,2.0,2024-04-29 12:14:14.283967,datalake/bikestore_dim/staffs
3,4,Virgie,Wiggins,virgie.wiggins@bikes.shop,(831) 555-5557,1,1.0,2.0,2024-04-29 12:14:14.283967,datalake/bikestore_dim/staffs
4,5,Jannette,David,jannette.david@bikes.shop,(516) 379-4444,1,2.0,1.0,2024-04-29 12:14:14.283967,datalake/bikestore_dim/staffs
5,6,Marcelene,Boyer,NaN,(516) 379-4445,1,2.0,5.0,2024-04-29 12:14:14.283967,datalake/bikestore_dim/staffs
6,7,Venita,Daniel,venita.daniel@bikes.shop,NaN,1,2.0,5.0,2024-04-29 12:14:14.283967,datalake/bikestore_dim/staffs
7,8,Kali,Vargas,kali.vargas@bikes.shop,(972) 530-5555,1,3.0,1.0,2024-04-29 12:14:14.283967,datalake/bikestore_dim/staffs
8,9,Layla,Terrell,layla.terrell@bikes.shop,(972) 530-5556,1,3.0,7.0,2024-04-29 12:14:14.283967,datalake/bikestore_dim/staffs
9,10,Bernardine,Houston,bernardine.houston@bikes.shop,(972) 530-5557,1,3.0,7.0,2024-04-29 12:14:14.283967,datalake/bikestore_dim/staffs

In [3]:
staffs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   staff_id         10 non-null     int64
 1   first_name       10 non-null     object
 2   last_name        9 non-null      object
 3   email            9 non-null      object
 4   phone            8 non-null      object
 5   active           10 non-null     int64
 6   store_id         9 non-null      float64
 7   manager_id       9 non-null      float64
 8   extraction_time  10 non-null     object
 9   source_folder    10 non-null     object
dtypes: float64(2), int64(2), object(6)
memory usage: 928.0+ bytes

In [4]:
staffs.duplicated().sum()

0

In [5]:
staffs.isnull().sum()

staff_id           0
first_name         0
last_name          1
email              1
phone              2
active             0
store_id           1
manager_id         1
extraction_time    0
source_folder      0
dtype: int64

In [6]:
staffs=staffs.dropna()

In [7]:
staffs.isnull().sum()

staff_id           0
first_name         0
last_name          0
email              0
phone              0
active             0
store_id           0
manager_id         0
extraction_time    0
source_folder      0
dtype: int64

In [9]:
staffs.to_csv('../staging_1/staffs/staffs.csv', index = False)