In [1]:
import pandas as pd

In [2]:
stocks = pd.read_csv('../landing/stocks/stocks.csv')
stocks

,store_id,product_id,quantity,extraction_time,source_folder
0,1,1,27,2024-04-29 12:14:14.288822,datalake/bikestore_dim/stocks
1,1,2,5,2024-04-29 12:14:14.288822,datalake/bikestore_dim/stocks
2,1,3,6,2024-04-29 12:14:14.288822,datalake/bikestore_dim/stocks
3,1,4,23,2024-04-29 12:14:14.288822,datalake/bikestore_dim/stocks
4,1,5,22,2024-04-29 12:14:14.288822,datalake/bikestore_dim/stocks
...,...,...,...,...,...
934,3,309,30,2024-04-29 12:14:14.288822,datalake/bikestore_dim/stocks
935,3,310,8,2024-04-29 12:14:14.288822,datalake/bikestore_dim/stocks
936,3,311,23,2024-04-29 12:14:14.288822,datalake/bikestore_dim/stocks
937,3,312,18,2024-04-29 12:14:14.288822,datalake/bikestore_dim/stocks
938,3,313,0,2024-04-29 12:14:14.288822,datalake/bikestore_dim/stocks

In [3]:
stocks.duplicated().sum()

0

In [4]:
stocks.isnull().sum()

store_id           0
product_id         0
quantity           0
extraction_time    0
source_folder      0
dtype: int64

In [5]:
stocks.to_csv('../staging_1/stocks/stocks.csv', index = False)