In [4]:
import pandas as pd

In [5]:
categories = pd.read_csv('../landing/categories/categories.csv')
categories

,category_id,category_name,extraction_time,source_folder
0,1,Children Bicycles,2024-04-29 12:14:14.229045,datalake/bikestore_dim/categories
1,2,Comfort Bicycles,2024-04-29 12:14:14.229045,datalake/bikestore_dim/categories
2,3,Cruisers Bicycles,2024-04-29 12:14:14.229045,datalake/bikestore_dim/categories
3,4,Cyclocross Bicycles,2024-04-29 12:14:14.229045,datalake/bikestore_dim/categories
4,5,Electric Bikes,2024-04-29 12:14:14.229045,datalake/bikestore_dim/categories
5,6,Mountain Bikes,2024-04-29 12:14:14.229045,datalake/bikestore_dim/categories
6,7,Road Bikes,2024-04-29 12:14:14.229045,datalake/bikestore_dim/categories

In [6]:
categories.duplicated().sum()

0

In [7]:
categories.isnull().sum()

category_id        0
category_name      0
extraction_time    0
source_folder      0
dtype: int64

In [7]:
categories.to_csv('../staging_1/categories/categories.csv', index = False)